* {
    box-sizing: border-box;
}

body {
    background: linear-gradient(180deg, #374151 0%, #111827 100%);
}

header {
    padding: 72px 72px 0 80px;
    display: flex;
}

.logo__img {
    height: 35px;
    width: 35px;
    border-radius: 3px;
    background: #4b5563;
    padding: 6px 12px;
    box-shadow: 0px 15px 30px 0px rgba(0, 0, 0, 0.15);
}

.search_input::placeholder {
    width: 35px;
    height: 35px;
    border-radius: 3px;
    /* background: #4b5563; */
    padding: 6px 12px;
    box-shadow: 0px 15px 30px 0px rgba(0, 0, 0, 0.15);
}

.nav_container {
    margin-bottom: 99px;
    margin-left: 35px;
}

li {
    list-style-type: none;
    display:inline-block;
    padding: 0 10px;
}

ul {
    padding-left: 0;
    max-height: 35;
}

.main_link {
    margin: 15px;
}

.li_link {
    max-width: 110px;
    max-height: 19px;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 18.75px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #FFFFFF;
    text-decoration: none;
}

.search_form {
    margin-left: 9px;
    min-height: 31px;
    min-width: 215px;
    max-width: 224px;
    max-height: 36px;
    border-radius: 100px;
    border-style: none;
    opacity: 60%;
    padding-left: 8px;
    padding-top: 4px;
    background: linear-gradient(180deg, #374151 0%, #111827 100%);
    margin-top: 20px;
    margin-left: auto;
}

.search_input {
    min-width: 180px;
    min-height: 30px;
    border-style: none;
    background: linear-gradient(180deg, #374151 0%, #111827 100%);
}

.search_input::placeholder {
    color: #FFFFFF;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 18.75px;
    text-align: left;
    /* text-underline-position: from-font;
    text-decoration-skip-ink: none; */
}

.topic_label {
    max-width: 72px;
    max-height: 16px;
    opacity: 0.6px;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.41px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #FFFFFF;
    margin-bottom: 40px;
}

.main_label {
    max-width: 525px;
    max-height: 76px;
    font-family: Roboto;
    font-size: 24px;
    font-weight: 400;
    line-height: 38px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #FFFFFF;
    margin-bottom: 30px;
}

main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.author_data {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 67px;
}

.author_img_container {
    max-width: 50px;
    max-height: 50px;
    border-radius: 25%;
    margin-right: 20px;
}

.author_name {
    max-width: 148px;
    min-height: 18px;
    max-height: 20px;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #FFFFFF;
}

.author_role {
    max-width: 85px;
    min-height: 16px;
    max-height: 18px;
    opacity: 0.6px;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #FFFFFF;
}

.article_main_img {
    max-width: 896px;
    max-height: 594px;
    border-radius: 5px;
}

.first_article_paragraph {
    max-width: 708px;
    /* max-height: 101px; */
    font-family: Roboto;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #FFFFFF;
}

.article_paragraph {
    max-width: 708px;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #FFFFFF;
}

.article_paragraph_link {
    color: #FFFFFF;
}

.article_container{
    margin-bottom: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.article_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.footer_container {
    min-width: 200px;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer_description {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #FFFFFF;
}

